.offcan_section button.btn {
    color: #000000;
}

.offcan_section button.btn:hover {
    color: #000000;
}

.nav-menu a.nav-link:hover {
    color: #000000;
}

.nav-menu a.nav-link {
    color: #70707B;
}

/* hero */
section.property-hero .row.mb-5 {
    display: flex;
    align-items: center;
}

/* Search */
section.search-bar-sec {
    position: relative;
}
.search-input {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0px, -50%);
}
.search-input input#search {
    border-color: #e4e4e7;
    padding-left: 40px;
}
.search-input .form-control:focus {
    box-shadow: none;
}
.search-icon svg {
    color: var(--paragraphClr);
}


/* Filter */
.filter-btn-part {
    display: flex;
    justify-content: space-around;
    border: 1px solid #e4e4e7;
    border-radius: 15px;
}

.filter-btn button.btn {
    padding: 8px 45px;
    margin: 10px;
    border: none;
}
.filter-btn button.btn:hover{
    border: none;
}
.filter-btn button.btn:active{
    background: var(--btnClr);
    color: #fff;
}
button.btn.bg-clr-white {
    background: #fff;
    color: #000;
    border: none;
}
button.btn.bg-clr-white:hover{
    background: var(--btnClr);
    color: #fff;
}
.cat-heading p {
    color: var(--btnClr);
    font-weight: 500;
    font-size: 20px;
    user-select: none;
}
.catrgory-part {
    margin: 20px 0px;
}

.cat-heading {
    margin-bottom: 10px;
}
.filter-list {
    margin: 5px 0px;
}
.price-range-part .cat-heading {
    margin-bottom: 20px;
}

p.price-range-item {
    margin: 10px 0px;
}
input#amount {
    font-weight: 500;
}
/* .filter-list input {
    accent-color: #D71DF8;
} */
.filter-list label{
    user-select: none;
}

p.price-range-item input {
    border: 0;
    color: #18181B;
    font-weight: bold;
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
    padding-left: 0;
    border: none;
}
.ui-slider-horizontal {
    height: 3px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    touch-action: none;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
    background: #18181B;
    border: 2px solid #18181B ;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 3px solid #E4E4E7;
    background: #ffffff;
    font-weight: normal;
    color: #454545;
    outline: none;
}
.price-range-item .form-control:focus {
    box-shadow: none;
}
div#slider-range {
    background: #c5c5c5;
}
/* Filter m device */
.property-filter-part-md {
    width: 350px;
    position: absolute;
    right: 35px;
    top: 85px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #0000002e;
    z-index: 99;
    padding: 20px;
    display: none;
}
.property-filter-part-md-block{
    display: block;
}
.search-input-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input-md .search-input {
    width: 100%;
}
.filter-icon {
    width: 50px;
    height: 38px;
    border: 1px solid var(--borderClr);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}



/* Property list */

.property-content {
    padding-top: 50px;
}

.property-box {
    position: relative;
    margin-bottom: 20px;
}

.property-details {
    margin-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.location h6 a{
    font-weight: 400;
    margin-bottom: 0;
    color: var(--btnClr);
}

.property-price h6 {
    font-weight: 500;
}

.location-icon p {
    font-size: 14px;
}

.location-icon p svg {
    margin-right: 10px;
}

.badge-one p {
    padding: 5px 10px;
    background: #000;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
}

.property-badge {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.badge-one p svg {
    margin-right: 10px;
}

.details-items p {
    font-size: 16px;
}

.details-items p svg {
    margin-right: 10px;
}

.p-details-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.property-btn {
    text-align: center;
    padding-top: 20px;
}
/* Contact */

section.contact-section {
    background: url(../images/home/Contact\ Form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 20px 30px;
    border-radius: 20px;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.contact-heading h2 {
    margin-bottom: 25px;
}

.contact-heading h2{
    color: #fff;
}
.contact-para p {
    color: var(--footerText);
}

.col-lg-6.c-l-middle {
    display: flex;
    align-items: center;
}

.contact-right-form form input {
    margin-bottom: 15px;
    background: rgb(255 255 255 / 39%);
}

.contact-right-form {
    padding: 40px;
    /* background: rgba(255, 255, 255, 0.991); */
    background: rgba(255, 255, 255, 0.965);
    border-radius: 15px;
}

.form-control:focus {
    color: #212529;
    background-color: rgb(255 255 255 / 39%);
    border-color: #e2e2e2;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(215, 215, 215, 0.25);
}

textarea#textarea {
    background: #fff;
}
.contact-btn button.btn {
    width: 100%;
}


